body{
	margin: 0;
	background-image: url(../images/107.jpg);
	background-size: cover;
}

#dazi{
	width: 812px;
	height: 250px;
	border-radius: 10px;
	margin: 0px auto;
	position: absolute;
	top:400;
	right:50;
	box-shadow: 0 0 10px black;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#E1E2E6), to(#F8F9FD));*/
}
.block{
	width: 62px;
	height: 62px;
	text-align: center;
	line-height: 45px;
	color:#757F86;
	border-radius: 10px;
	float: left;
	font-family: '微软雅黑';
	/*border:1px solid black;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#E1E2E6), to(#F8F9FD));*/
	background-image: url(../images/hh.png);

}
#shijian{
   width: 130px;
   height:100px;
   position: absolute;
   top:200px;
   left:360px;
   color:black;
   text-align: center;
   line-height: 100px;
   font-size: 4em;
   font-family: 'Snell Bd Bt'
}
#jilu{
	width: 400px;
	height: 400px;
	position: absolute;
	top:20%;
	left: 35%;
	background-color: rgba(0,0,0,0.3);
	display: none;
	margin-top: 60px;

}
.yi{
	width: 400px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 3em;
	font-weight: bold;
	color: white;
}
#si{
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 10px;
	right: 250px;
	text-align: center;
	line-height: 50px;
	font-size: 2em;
	font-weight: bold;
	color: white;
}
#wu{
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 10px;
	right: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 2em;
	font-weight: bold;
	color: white;
}